.wrapper {
    padding: 5px 20px;
}

.wrapper fieldset {
    margin: 20px 0;
}

.provider-button {
    margin-left: 10px;
    cursor: pointer;
    border: none;
    text-decoration: underline;
    background: none;
}